In [6]:
import pandas as pd
from datetime import datetime

In [7]:
data = pd.read_csv('https://github.com/matog/iSalud-IntroCienciaDeDatos/raw/main/ntrarogyaseva.zip')

In [24]:
data = data[['DISCHARGE_DATE']]

In [13]:
# Arreglamos la fecha con caracteres erroneos tal como en la clase 5
data.loc[data['DISCHARGE_DATE'].str.contains('116', na=False)]

,,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_LOCATION,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
1767,1768,44,Male,ST,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Ratnapuram,Chintur,...,12500,District Hospital-Khammam-,G,KHAMMAM,Khammam,27/01/2016 00:00:00,30/04/0116 00:00:00,YES,30/04/2016 00:00:00,D
2856,2857,44,Male,ST,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kusumanapalli,Bhadrachalam,...,12500,District Hospital-Khammam-,G,KHAMMAM,Khammam,02/03/2016 00:00:00,30/04/0116 00:00:00,YES,30/04/2016 00:00:00,D

In [16]:
data.loc[data['DISCHARGE_DATE']=='30/04/0116 00:00:00', 'DISCHARGE_DATE'] = '30/04/2016 00:00:00'

In [25]:
# Convertimos la columna a date time
data['DISCHARGE_DATE'] = pd.to_datetime(data['DISCHARGE_DATE'])

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479688 entries, 0 to 479687
Data columns (total 1 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DISCHARGE_DATE  475128 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 3.7 MB

In [28]:
# Guardamos el archivo en formato parquet

In [29]:
data.to_parquet('myfile.parquet')

In [30]:
# Para chequear lo volvemos a cargar

In [32]:
df = pd.read_parquet('myfile.parquet')

In [33]:
df

       DISCHARGE_DATE
0          2013-07-09
1          2013-09-09
2          2013-10-18
3          2013-09-27
4          2013-02-10
...               ...
479683     2017-11-19
479684     2017-11-18
479685     2017-11-18
479686     2017-11-18
479687     2017-11-18

[479688 rows x 1 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479688 entries, 0 to 479687
Data columns (total 1 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DISCHARGE_DATE  475128 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 3.7 MB