In [2]:
#!pip install voila

In [3]:
#!pip install ipywidgets
#!jupyter nbextension enable --py widgetsnbextension

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Ipywidgets

In [6]:
#Creating the interactive dashboard
from ipywidgets import interact

@interact
def create_fare_plot(col = titanic.drop(['fare', 'age'], axis =1).columns): # Con drop marcamos que columnas NO aparecerán
    sns.barplot(data = titanic, x = col, y ='fare')
    plt.title(f'Bar plot de la tarifa media agrupado por  {col}')

interactive(children=(Dropdown(description='col', options=('survived', 'pclass', 'sex', 'sibsp', 'parch', 'emb…

## Voilá

In [7]:
import ipywidgets as widgets
import pandas as pd

style = {'description_width': 'initial'}
limit_case = widgets.IntSlider(
    value=1000,
    min=100,
    max=5000,
    step=1,
    description='Max Number of Case:',
    disabled=False,
    style=style)